* {
    margin: 0;
    padding: 0;
}

/* Bakgrund */
body {
    Background-color: #F2E8DC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Sidhuvud */
header {
    background-color: #B6857C;
    Padding: 1rem;
}

/* Meny */
.huvudlista {
    display: inline-block;
    padding-left: 1.5rem;
}

.huvudlista a {
    text-decoration: none;
    color: #F2E8DC;
}

.undermeny {
    display: none;
    position: absolute;
    list-style: none;
}

.huvudlista:hover .undermeny {
    display: block;
    background-color: #B6857C;
    padding: 1rem;
}

.underlista {
    margin-top: 0.4rem;
}

.underlista a {
    text-decoration: none;
    color: #F2E8DC;
}

.underlista a:hover {
    text-decoration: underline;
}

.huvudlista a:hover {
    text-decoration: underline;
}

/* Huvudinnehåll */

.concept {
    background-image: url("../images/clothes-rail.jpg");
    background-size: cover;
    padding: 7rem 0;
}

.concept h1 {
    background-color: #B6857C;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 40px;
    font-weight: bold;
    color: #F2E8DC;
}

h2 {
    font-size: 30px;
    color: #936861;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.categories li {
    list-style: none;
    padding: 1rem;
    border: 2px solid #B6857C;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.categories li img {
    margin-bottom: 0.5rem;
    margin-top: auto;
    max-width: 100%;
    border-radius: 5rem;
}

.categories a {
    text-decoration: none;
    color: #F2E8DC;
    background-color: #B6857C;
    border: 2px solid #F2E8DC;
    border-radius: 5rem;
    width: 70%;
    padding: 0.5rem;
    margin-top: auto;
}

.categories a:hover {
    color: #B6857C;
    background-color: #F2E8DC;
    border: 2px solid #B6857C;
}

.values {
    display: flex;
    justify-content: center;
}

/* Sidfot */
footer {
    background-color: #B6857C;
    color: #F2E8DC;
    padding: 2rem 1rem;
}

footer section {
    display: inline-block;
    width: 18rem;
    vertical-align: top;
    padding-left: 1.5rem;
    line-height: 1.5;
}

/* Titel produktsidor */
.title {
    text-align: center;
    margin: 30px 0;
    color: #936861;
    font-size: 50px;
    font-weight: bold;
}

/* Grid-layout */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card h3 {
    margin: 15px 0 5px;
    color: #B6857C;
    font-size: 25px;
}

/* Bilder – Överdelar */
.top-img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/* Bilder – Byxor */
.pants-img {
    width: 100%;
    aspect-ratio: 2 / 3;
    /* högre proportion för byxor */
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/*Bilder- skor*/
.shoes-img {
    width: 100%;
    aspect-ratio: 4 / 2;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/*Bilder - hudvård och smink*/
.beauty-img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}



/*Köpknapp*/
.price {
    font-size: 20px;
    font-weight: bold;
    color: #B6857C;
    margin: 10px 0 15px;
}

.button {
    background-color: #B6857C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover {
    background-color: #F2E8DC;
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(0);
}