* {
    margin: 0;
    padding: 0;
}

/* Bakgrunds färg och typsnitt */
body {
    Background-color: #F2E8DC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* --------------- Sidhuvud ---------------------*/
header {
    background-color: #B6857C;
    Padding: 1rem;
}

/* Meny */
.huvudlista {
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 2rem;
    font-size: 18px;
}

.huvudlista a {
    text-decoration: none;
    color: #F2E8DC;
}

.huvudlista a.active {
    background-color: #936861;
    padding: 3px;
    border-radius: 2px;
    pointer-events: none;
}

.undermeny {
    display: none;
    position: absolute;
    list-style: none;
}

.huvudlista:hover .undermeny {
    display: block;
    background-color: #B6857C;
    padding: 1rem;
}

.underlista {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.underlista a {
    text-decoration: none;
    color: #F2E8DC;
}

.underlista a:hover {
    text-decoration: underline;
}

.huvudlista a:hover {
    text-decoration: underline;
}

/* --------------- Sidhuvud slut ---------------------*/

/* --------------- Sidfot ---------------------*/
footer {
    background-color: #B6857C;
    color: #F2E8DC;
    padding: 2rem 1rem;
}

footer section {
    display: inline-block;
    width: 18rem;
    vertical-align: top;
    padding-left: 1.5rem;
    line-height: 1.5;
}

/*FAQ länk*/
.faq {
    color: #F2E8DC;
    text-decoration: none;
}


.faq:hover {
    text-decoration: underline;
}

.faq:visited {
    color: #F2E8DC;
}

.faq a.active{
    background-color: #936861;
    color: #F2E8DC;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    pointer-events: none;
}

/*Kontakta oss länk*/
.contact {
    color: #F2E8DC;
    text-decoration: none;
}

.contact a.active{
    background-color: #936861;
    color: #F2E8DC;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    pointer-events: none;
}

.contact:hover {
    text-decoration: underline;
}
/* --------------- Sidfot slut ---------------------*/

/* --------------- Indexsida ---------------------*/

.concept {
    background-image: url("../images/clothes-rail.jpg");
    background-size: cover;
    background-position: center;
    padding: 7rem 0;
}

.concept span {
    background-color: #B6857C;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem 2rem; 
    border-radius: 2rem;
    font-size: 40px;
    font-weight: bold;
    color: #F2E8DC;
    text-align: center;
    display: block; 
}
/* kategori rubrik */
h2 {
    font-size: 30px;
    color: #936861;
}

h1 {
    font-size: 30px;
    color: #936861;
    text-align: center;
    margin-top: 20px;
}


/* kategorier */
.categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.categories li {
    list-style: none;
    padding: 1rem;
    border: 2px solid #B6857C;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.categories li img {
    margin-bottom: 0.5rem;
    margin-top: auto;
    max-width: 100%;
    border-radius: 5rem;
}

.categories a {
    text-decoration: none;
    color: #F2E8DC;
    background-color: #B6857C;
    border: 2px solid #F2E8DC;
    border-radius: 5rem;
    width: 70%;
    padding: 0.5rem;
    margin-top: auto;
}

.categories a:hover {
    color: #B6857C;
    background-color: #F2E8DC;
    border: 2px solid #B6857C;
}

/* --------------- Indexsida slut ---------------------*/

/* --------------- Produktsidor ---------------------*/

/* Titel */
.title {
    text-align: center;
    margin: 3rem 0;
    color: #936861;
    font-size: 50px;
    font-weight: bold;
}

/* Grid-layout */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card h3 {
    margin: 15px 0 5px;
    color: #B6857C;
    font-size: 25px;
}

/* Bilder – Överdelar */
.top-img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/* Bilder – Byxor */
.pants-img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/*Bilder- skor*/
.shoes-img {
    width: 100%;
    aspect-ratio: 4 / 2;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/*Bilder - hudvård och smink*/
.beauty-img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/*Köpknapp*/
.price {
    font-size: 20px;
    font-weight: bold;
    color: #B6857C;
    margin: 10px 0 15px;
}

.button {
    background-color: #B6857C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #F2E8DC;
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(0);
}

/* --------------- Produktsidor slut ---------------------*/

/* --------------- FAQ sida ---------------------*/
.faq-section {
    display: block;
    margin: 3rem auto 3rem;
    font-size: large;
    color: #936861;
    max-width: 50%;
    text-align: center;
    border: #936861 2px solid;
    border-radius: 2rem;
}

.faq-section details {
    padding: 1rem;
    margin: 1rem;
}

.faq-section details p {
    margin: auto;
    max-width: 75%;
    line-height: 2cap;
}

.faq-section summary {
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5rem;
    background-color: #B6857C;
    color: #F2E8DC;
    max-width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.faq-section summary:hover {
    color: #936861;
    background-color: #F2E8DC;
    border: #936861 2px solid;
}

/* --------------- FAQ sida slut---------------------*/

/* --------------- Kontakt sida ---------------------*/

/*Kontaktformulär*/
.contact-section form {
    background-color: #B6857C;
    padding: 1rem;
    border-radius: 8px;
    max-width: 500px;
    margin: 3rem auto;
}

.contact-section form div {
    margin-bottom: 0.5rem;
}

.contact-section form input[type="text"],
.contact-section form input[type="email"],
.contact-section form textarea {
    padding: 1rem;
    border-radius: 8px;
    font-size: 15px;
    background-color: #F2E8DC;
    border: none;
    box-sizing: border-box;
    width: 100%;
}

.contact-section form input[type="text"]:focus,
.contact-section form input[type="email"]:focus,
.contact-section form textarea:focus {
    outline: 2px solid #936861;
}

.contact-section form input[type="submit"] {
    background-color: #936861;
    color: #F2E8DC;
    border: none;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

.contact-section form input[type="submit"]:hover {
    background-color: #894f46;
}

/* --------------- Kontakt sida slut ---------------------*/


/* --------------- Leverans sida ---------------------*/

/*Leveransformulär*/
form {
    background-color: #B6857C;
    padding: 1rem;
    border-radius: 8px;
    max-width: 500px;
    margin: 3rem auto;
}

form div {
    margin-bottom: 0.5rem;
}

form input[type="text"] {
    padding: 1rem;
    border-radius: 8px;
    font-size: 15px;
    background-color: #F2E8DC;
    border: none;
    box-sizing: border-box;
    width: 100%;
}

form input[type="text"]:focus {
    outline: 2px solid #936861;
}

form input[type="submit"] {
    background-color: #936861;
    color: #F2E8DC;
    border: none;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

form input[type="submit"]:hover {
    background-color: #894f46;
}

.city-postal-group {
    display: flex;
    gap: 0.5rem;
}

.city-postal-group div {
    flex-grow: 1;
    margin-bottom: 0;
}

/*behövs ändras?*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

/* Textruta över formulär */
.form-header {
    max-width: 500px;
    margin: 3rem auto;
    text-align: center;
}

.form-header h2 {
    color: #936861;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-header p {
    color: #936861;
    font-size: 18px;
}

/* --------------- Leverans sida slut---------------------*/

/* --------------- Order lagd sida ---------------------*/

.confirmation-box {
    max-width: 700px;
    margin: 7rem auto;
    text-align: center;
    color: #936861;
}

.confirmation-box h1 {
    font-size: 50px;
    font-weight: bold;
}

.confirmation-box p {
    max-width: 500px;
    margin: 1rem auto;
    font-size: 18px;
}

/* Vad händer nu ruta */
.next-steps {
    text-align: left;
    border: 2px solid #B6857C;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 5rem;
}

.next-steps h2 {
    border-bottom: 1px solid #B6857C;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 18px;
}

.next-steps ul {
    list-style: none;
    padding: 0;
}

.next-steps li {
    margin-bottom: 0.5rem;
    font-size: 15px;
}

.next-steps a:link {
    color: #936861;
    font-weight: bold;
}

.next-steps a:visited {
    color: #B6857C;
}

.next-steps a:hover {
    color: #F2E8DC;
    background-color: #936861;
    text-decoration: none;
    border-radius: 3px;
}

/* --------------- Order lagd sida slut ---------------------*/
